---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
    <section class="max-w-3xl">
        <div class="grid grid-cols-5 gap-4">
            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Education</h3>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Aug. 2018 - Aug. 2023</p>
                <p class="sm:hidden">2018.08 ~ 2023.08</p>
            </div>
            <div class="col-span-4">
                <p class="">Ph.D. in Computer Science</p>
                <p class="text-sm">Arizona State University, Tempe, AZ</p>
                <p class="text-xs">Advisor: Ross Maciejewski</p>
                <p class="text-xs">
                    Dissertation: Explaining Vulnerabilities in Machine Learning
                    through Visual Analytics
                </p>
                <p class="text-xs">
                    Committee: Ross Maciejewski, Huan Liu, Chris Bryan, and
                    Hanghang Tong
                </p>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Aug. 2015 - May 2017</p>
                <p class="sm:hidden">2015.08 ~ 2017.05</p>
            </div>
            <div class="col-span-4">
                <p class="">M.S. in Computer Science</p>
                <p class="text-sm">
                    Steven Institute of Technology, Hoboken, NJ
                </p>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Sep. 2011 - July 2015</p>
                <p class="sm:hidden">2011.09 ~ 2015.07</p>
            </div>
            <div class="col-span-4">
                <p class="">B.S. in Computer Science</p>
                <p class="text-sm">
                    Beijing Forestry University, Beijing, China
                </p>
            </div>
            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Research Experience</h3>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Aug. 2023 - Present</p>
                <p class="sm:hidden">2023.08 ~ Present</p>
            </div>
            <div class="col-span-4">
                <p class="">Postdoctoral Research Scholar</p>
                <p class="text-sm">
                    VADER Lab, Arizona State University, Tempe, AZ
                </p>
                <p class="text-xs">Advisor: Ross Maciejewski</p>
                <p class="text-xs">
                    Work as a postdoctoral research scholar at the VADER Lab.
                    Collaborate with multidisciplinary teams, mentor graduate
                    and undergraduate students, and participate in grant writing
                    activities to secure funding for ongoing and future research
                    projects in machine learning and visual analytics fields.
                </p>
                <div class="py-1">
                    <a class="text-xs" href={""}> VADER Lab </a>
                </div>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Aug. 2018 - Aug. 2023</p>
                <p class="sm:hidden">2018.08 ~ 2023.08</p>
            </div>

            <div class="col-span-4">
                <p class="">Graduate Research Associate</p>
                <p class="text-sm">
                    VADER Lab, Arizona State University, Tempe, AZ
                </p>
                <p class="text-xs">Advisor: Ross Maciejewski</p>
                <p class="text-xs">
                    Work as a graduate research associate at the VADER Lab with
                    the research topics in Explainable AI and Visual Analytics.
                    The dissertation topic is Explaining the vulnerabilities of
                    machine learning models through visual analytics.
                </p>
                <div class="py-1">
                    <a class="text-xs" href={""}> VADER Lab </a>
                </div>
            </div>
            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Industry Experience</h3>
            </div>
            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">May 2021 - Aug. 2021</p>
                <p class="sm:hidden">2021.05 ~ 2021.08</p>
            </div>
            <div class="col-span-4">
                <p class="">Data Scientist Intern</p>
                <p class="text-sm">
                    Epsilon Data Management, LLC., Chicago, IL
                </p>
                <p class="text-xs">Mentor: Chihua Ma</p>
                <p class="text-xs">
                    Designed and implemented the algorithm to extract highlights
                    from the aggregated audience data across 2500+ companies.
                    Designed, implemented and integrated the Intelligent
                    Audience Profile (IAP) visualization view driven by the
                    designed highlighting algorithm into the DiME visual
                    analytics platform.
                </p>
                <div class="py-1">
                    <a
                        class="text-xs"
                        href={"https://www.epsilon.com/us/products-and-services/epsilon-digital"}
                    >
                        Epsilon & DiME
                    </a>
                </div>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">July 2017 - May 2018</p>
                <p class="sm:hidden">2017.07 ~ 2018.05</p>
            </div>
            <div class="col-span-4">
                <p class="">Co-founder</p>
                <p class="text-sm">RobotGyms, Inc., San Mateo, CA</p>
                <p class="text-xs">
                    Designed, implemented Robotgyms's infrastructure and
                    curriculum. and maintained the company's teaching devices,
                    including local network and devices' software and hardware
                    installation and upgrade. Developed policies and training
                    plans for online resource administration and usage. Give
                    lectures for 40+ students and took charge of customer
                    consultation, and conducted SEO and SMO for branding
                    programs as well as the company.
                </p>
                <div class="py-1">
                    <a class="text-xs" href={"https://robotgyms.com/"}>
                        RobotGyms
                    </a>
                </div>
            </div>

            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Publications</h3>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">Big Data 2022</p>
            </div>
            <div class="col-span-4">
                <p class="">
                    Infofair: Information-theoretic intersectional fairness
                </p>
                <p class="text-xs">
                    Jian Kang, Tiankai Xie, Xintao Wu, Ross Maciejewski, and
                    Hanghang Tong
                </p>
                <p class="text-xs italic">
                    IEEE International Conference on Big Data
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">VIS 2021</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    FairRankVis: A Visual Analytics Framework for Exploring
                    Algorithmic Fairness in Graph Mining Models
                </p>
                <p class="text-xs">
                    Tiankai Xie, Yuxin Ma, Jian Kang, Hanghang Tong, and Ross
                    Maciejewski
                </p>
                <p class="text-xs italic">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2021
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">VIS 2020</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    Auditing the Sensitivity of Graph-based Ranking with Visual
                    Analytics
                </p>
                <p class="text-xs">
                    Tiankai Xie, Yuxin Ma, Jian Kang, Hanghang Tong, and Ross
                    Maciejewski
                </p>
                <p class="text-xs italic">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2020
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">VIS 2019</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    Explaining Vulnerabilities to Adversarial Machine Learning
                    through Visual Analytics
                </p>
                <p class="text-xs">
                    Yuxin Ma, Tiankai Xie, Jundong Li, and Ross Maciejewski
                </p>
                <p class="text-xs italic">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2019
                </p>
            </div>

            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Invited Talks</h3>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Oct. 2021</p>
                <p class="sm:hidden">2021.10</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    FairRankVis: A Visual Analytics Framework for Exploring
                    Algorithmic Fairness in Graph Mining Models
                </p>
                <p class="text-xs">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2021
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Oct. 2020</p>
                <p class="sm:hidden">2020.10</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    Auditing the Sensitivity of Graph-based Ranking with Visual
                    Analytics
                </p>
                <p class="text-xs">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2020
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="hidden sm:block">Oct. 2019</p>
                <p class="sm:hidden">2019.10</p>
            </div>
            <div class="col-span-4">
                <p class="text-sm">
                    Explaining Vulnerabilities to Adversarial Machine Learning
                    through Visual Analytics
                </p>
                <p class="text-xs">
                    IEEE Transactions on Visualization and Computer Graphics,
                    2019
                </p>
            </div>

            <div></div>
            <div class="col-span-4">
                <h3 class="text-xl font-normal">Professional Services</h3>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">2024</p>
            </div>
            <div class="col-span-4">
                <p class="">Reviewer</p>
                <p class="text-xs">
                    ACM Transactions on Intelligent Systems and Technology
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">2024</p>
            </div>
            <div class="col-span-4">
                <p class="">Reviewer</p>
                <p class="text-xs">Pacific Visualization Conference</p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">2023</p>
            </div>
            <div class="col-span-4">
                <p class="">Reviewer</p>
                <p class="text-xs">
                    IEEE Transactions on Visualization and Computer Graphics
                </p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">2022</p>
            </div>
            <div class="col-span-4">
                <p class="">Reviewer</p>
                <p class="text-xs">IEEE Computer Graphics & Applications</p>
            </div>

            <div class="pr-4 text-right text-xs">
                <p class="">2021</p>
            </div>
            <div class="col-span-4">
                <p class="">Reviewer</p>
                <p class="text-xs">
                    IEEE Transactions on Visualization and Computer Graphics
                </p>
            </div>
        </div>
    </section>
</LayoutDefault>
